/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Mobile CSS reset */

*, *:before, *:after {
  /* suppressing the tap highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* this is a personal preference */
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  /* the default outline doesn't play well with a mobile application,
     I usually start without it,
     but don't forget to research further to make your mobile app accessible. */
  outline: 0;
}

input {
  border-radius: 0;
}

html, body {
  /* we don't want to allow users to select text everywhere,
     you can enable it on the places you think appropriate */
  user-select: none;
}



/* Custom CSS */

html, body {
  font-family: "Press Start 2P", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.25;
}

input, button {
  font-family: inherit;
}

strong, b {
  font-weight: bold;
}

[v-cloak] {
  display: none;
}

#loading {
  text-align: center;
  color: #999;
  font-size: 18px;
  padding: 100px 10px;
}

#join {
}

#debug{
  margin: 10px;
  padding: 10px
  font-family: monospace;
  font-size: 70%;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  background: #eee;
  color: #999;
}

header, footer {
  background: #a00;
  color: #fff;
  text-align: center;
}
#app header {
  padding: 12px 12px 10px;
}
#app header h1 {
  font-size: 18px;
  font-weight: bold;
}
#app header h2 {
  font-size: 12px;
}
#scoreboard header, #scoreboard footer {
  font-size: 32px;
  padding: 20px 0 16px;
}
#scoreboard footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
}
#scoreboard footer .marquee {
  animation: marquee 20s linear infinite;
}
#scoreboard footer .marquee span{
  width: 90%;
  display: inline-block;
  text-align: center;
}
#scoreboard footer .marquee span.separator{
  width: 10%;
}
@keyframes marquee {
  0%  {
    transform:translateX(0%);
  }
  100%  {
    transform:translateX(-200%);
  }
}

section {
  text-align: center;
  padding: 20px 15px;
}

input[type=text] {
  display: block;
  margin: 10px auto;
  font-size: inherit;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 90%;
  max-width: 400px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: inherit;
  background: #eee;
  color: #000;
}
button.selected{
  background: #444;
  border-color: #222;
  color: #fff;
}
button:not(.selected):disabled{
  background: #eee;
  color: #000;
  opacity: 0.4;
}

ul {
  margin: 20px 0;
}
ul li {
  margin: 10px 0;
}

ul.players li{
  display: inline-block;
  margin: 10px;
  padding: 20px;
}
